<div class="timetableContainer">
    <div id="markers">
    </div>
    <div class="dates">
        <div>Data</div>
        <div class="dateMon"></div>
        <div class="dateTue"></div>
        <div class="dateWed"></div>
        <div class="dateThu"></div>
        <div class="dateFri"></div>
        <div class="dateSat"></div>
        <div class="dateSun"></div>
    </div>
    <div class="daysOfTheWeek">
        <div>Dzień</div>
        <div>Pn</div>
        <div>Wt</div>
        <div>Śr</div>
        <div>Czw</div>
        <div>Pt</div>
        <div>Sb</div>
        <div>Nd</div>
    </div>
    <div class="timetableBody">
        <div class="timetableColumn hrColumn">
            <div class="timetableCell">7:00</div>
            <div class="timetableCell">8:00</div>
            <div class="timetableCell">9:00</div>
            <div class="timetableCell">10:00</div>
            <div class="timetableCell">11:00</div>
            <div class="timetableCell">12:00</div>
            <div class="timetableCell">13:00</div>
            <div class="timetableCell">14:00</div>
            <div class="timetableCell">15:00</div>
            <div class="timetableCell">16:00</div>
            <div class="timetableCell">17:00</div>
            <div class="timetableCell">18:00</div>
            <div class="timetableCell">19:00</div>
            <div class="timetableCell">20:00</div>
        </div>
        <div class="timetableColumn monColumn">
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
        </div>
        <div class="timetableColumn tueColumn">
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
        </div>
        <div class="timetableColumn wedColumn">
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
        </div>
        <div class="timetableColumn thuColumn">
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
        </div>
        <div class="timetableColumn friColumn">
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
        </div>
        <div class="timetableColumn satColumn">
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
        </div>
        <div class="timetableColumn sunColumn">
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
            <div class="timetableCell"></div>
        </div>
    </div>
</div>
<button id="previousWeek">poprzedni tydzien</button><button id="resetWeek">reset</button><button id="nextWeek">nastepny tydzien</button>